# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual env
.venv/

# SQLite DB
sentinelti.db

# VS Code
.vscode/

# Frontend / Node
node_modules/
dist/
dist-ssr/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
coverage/